@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
    --white: #FFFFFF;

    --brand-50: rgb(255, 247, 241);
    --brand-100: rgb(255, 230, 214);
    --brand-200: rgb(254, 207, 177);
    --brand-300: rgb(254, 164, 109);
    --brand-400: rgb(254, 140, 69);
    --brand-500: rgb(253, 113, 27);
    --brand-600: rgb(175, 68, 1);
    --brand-700: rgb(148, 57, 1);
    --brand-800: rgb(122, 48, 1);
    --brand-900: rgb(79, 30, 1);
    --brand-1000: rgb(53, 21, 0);
    --brand-1100: rgb(30, 11, 0);

    --brand-primary: #FD6505;

    --system-error: #EF4444;
    --system-success: #22C55E;
    --system-warning: #FFBA08;
    --system-info: #4C82F7;

    --body-text-xs: 0.75rem;
    --body-text-sm: 0.875rem;
    --body-text-md: 1rem;
    --body-text-lg: 1.125rem;
    --body-text-xl: 1.25rem;
    --body-text-lead: 1.5rem;
}

body {
    font-family: "Inter", sans-serif;
    font-size: var(--body-text-md);
}

input, button, textarea, select {
    font: inherit;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--brand-1100);
    font-weight: 800;
    line-height: 1.3;
}

h1 { font-size: 3.5rem; }

h2 { font-size: 3rem; }

h3 { font-size: 2.5rem; }

h4 { font-size: 2rem; }

h5 { font-size: 1.5rem; }

h5 { font-size: 1.5rem; }

h6 { font-size: 1rem; }

p {
    color: var(--brand-1100);
    font-size: var(--body-text-md);
    font-weight: 400;
    line-height: 1.5;
}